.form-container{
    padding:5px 35%;
    
}

.icon-g{
    color:red;

}
.login{
    height: 100vh;
}
@media only screen and (max-width: 500px) {

    .form-container{
        padding:10px 10%;
        
    }
    }