.App {
  text-align: center;
  background-image: url(./Bg.png);
  background-image: cover;
  /* height: 100vh; */
  background-size: 100%;
}


@media only screen and (max-width: 500px) {

  .App {
    text-align: center;
    background-image: url(./Bg.png);
    background-image: cover;
  }
}
